/* Global */

/* Custom bits of data forms */

legend {
  color: #999;
}

fieldset {
  padding: .5em;
  border: 1px solid #eeeeee;
}

select {
  background-color:#FFFFFF;
  border:1px solid #cccccc;
  font-size:.9em;
}

/** Sidebar  **/
.blacklight-atrium_collections-edit .sidebar h2,
.blacklight-atrium_showcases-edit .sidebar h2 {
  margin-bottom:.3em;
}

.collection-controls {
  margin-left:1em;
  margin-top:0;
}

.collection-controls li {
  list-style-type:none;
}

#showcases dt {
  font-weight:bold;
  margin-top:.6em;
}

/** Banner **/
#prompt {
  position:fixed;
  top:3px;
  left:3px;
  text-align:center;
  padding:1em .3em;
}

/** Lists **/
ol.sortable {
  list-style-type:none;
  margin:0;
  padding:0;
  width:72%;
}

ol.sortable li {
  font-size: 1.2em;
  height:1.2em;
  margin:0 3px 3px;
  padding-left:1.5em;
  padding:.4em .4em .4em 1.5em;
}

ol.sortable li span {
  position:absolute;
  margin-left:-1.3em;
}

.sortable td.label {
  padding-left:0;
  width:5.5em;
}

/** Forms **/
form.atrium ol {
  margin-left:0;
}

form.atrium ol li {
  list-style-type:none;
}

form.atrium label{
  margin-top:1em;
  display:block;
}

form.atrium input[type=text],
form.atrium select{
  width:72%;
}

form.atrium th {
  text-align:left;
}

.chzn-container-multi .chzn-choices .search-choice .search-choice-close{
  border-bottom:none;
}

ol.showcase-listing {
  margin-left:0;
  padding:1em;
}

ol.showcase-listing li {
  position:relative;
  list-style-type:none;
}

ol.showcase-listing .controls {
  position:absolute;
  right:.6em;
}
