/* Global */

body {
  padding:0;
}

#doc, #doc2, #doc3, #doc4 {
  border-top:5px solid #484748;
}

/** Banner **/

#banner {
  background-color:#F00;
  font-size: 1.2em;
  line-height:3.2em;
  padding:.1em .6em;
  position:relative;
  text-align:left;
}

#banner .controls {
  line-height:3.5em;
  margin:0;
  position:absolute;
  right:.6em;
  top:0;
}

#banner .controls li {
  display:inline;
  list-style-type:none;
}

#banner .button {
  background-color:#CCC;
  border-color: #FFF #000 #000 #FFF;
  border-style:solid;
  border-width:1px;
  display:inline-block;
  line-height:1.2em;
  padding:.3em .5em;
}

/** Navigation menu **/
#exhibit-menu {
  margin:0 0 .3em 0;
  padding:1px;
  line-height:3.2em;
  text-align:left;
  border-width:1px 0;
  border-style:solid;
  border-color:#CCC;
}

#exhibit-menu li {
  list-style-type:none;
  display:inline;
  line-height:1.2em;
}

#exhibit-menu a {
  padding:.5em 1em;
  border-bottom:none;
}

#exhibit-menu a:hover {
  background-color:#EFEFEF;
}

/** Custom bits of data forms **/

legend {
  color: #999;
}

fieldset {
  padding: .5em;
  border: 1px solid #eeeeee;
}

select {
  background-color:#FFFFFF;
  border:1px solid #cccccc;
  font-size:.9em;
}

/** Sidebar  **/
.blacklight-atrium_collections-edit .sidebar h2,
.blacklight-atrium_exhibits-edit .sidebar h2 {
  margin-bottom:.3em;
}

.collection-controls {
  margin-left:1em;
  margin-top:0;
}

.collection-controls li {
  list-style-type:none;
}

#exhibits dt {
  font-weight:bold;
  margin-top:.6em;
}

/** Banner **/
#prompt {
  position:fixed;
  top:3px;
  left:3px;
  text-align:center;
  padding:1em .3em;
}

/** Pages **/
#show_description ul {
  margin-left:0;
}

#show_description ul li {
  list-style-type:none;
}

/** Lists **/
ol.sortable {
  list-style-type:none;
  margin:0;
  padding:0;
  width:72%;
}

ol.sortable li {
  font-size: 1.2em;
  height:1.2em;
  margin:0 3px 3px;
  padding-left:1.5em;
  padding:.4em .4em .4em 1.5em;
}

ol.sortable li span {
  position:absolute;
  margin-left:-1.3em;
}

.sortable td.label {
  padding-left:0;
  width:5.5em;
}

/** Forms **/
form.atrium ol {
  margin-left:0;
}

form.atrium ol li {
  list-style-type:none;
}

form.atrium label{
  margin-top:1em;
  display:block;
}

form.atrium input[type=text],
form.atrium select{
  width:72%;
}

form.atrium th {
  text-align:left;
}

.chzn-container-multi .chzn-choices .search-choice .search-choice-close{
  border-bottom:none;
}

ol.exhibit-listing {
  margin-left:0;
  padding:1em;
}

ol.exhibit-listing li {
  position:relative;
  list-style-type:none;
}

ol.exhibit-listing .controls {
  position:absolute;
  right:.6em;
}
