
<%- if @browse_response.nil? -%>
  <h3><em>0 items found</em></h3>
<%- else -%>
  
  <div class="pageEntriesInfo">
    <%# render_pagination_info @browse_response, :entry_name=>'item' %>

  </div>
  
	<%= render 'atrium_exhibits/sort_and_per_page', :locals => {:response=>@browse_response} if @browse_response.response['numFound'] > 10%>
  
        <%= render 'atrium_exhibits/results_pagination' %>
  
	<%= render :partial => 'atrium_exhibits/document_list', :locals => {:document_list=>@browse_document_list, :response=>@browse_response}%>

  <%= render 'atrium_exhibits/results_pagination' %>

<% end %>

