<%= link_to 'View this Exhibit', @atrium_exhibit %>

<h1>Editing Exhibit</h1>

<%= render :partial => "form" %>

<%= link_to "Delete this Exhibit", atrium_exhibit_path(@atrium_exhibit.id), :method => :delete, :remote => true, :confirm => "Are you really sure?" %>
