<% # container for all documents in index view -%>
<div id="documents">
  <% document_list = @browse_document_list if document_list.nil?%>
  <% response = @browse_response if response.nil?%>
  <%= render :partial => 'atrium_collections/document', :collection => document_list, :as => :document , :locals=>{:response=>response}%>
</div>
