<%- collections = get_collections_list -%>
<%- if collections.any? -%>
  <h2>Collections</h2>
  <ul class="collection-list">
    <%- collections.each do |collection| -%>
      <li>
        <h3><%=link_to collection.pretty_title, atrium_collection_path(collection) %></h3>
      </li>
    <%- end -%>
  </ul>
<%- end -%>

<%- if (current_user) && (can? :create, Atrium::Collection)  -%>
    <%- @atrium_collection = Atrium::Collection.new-%>
    <%= form_for (@atrium_collection) do |f| %>
      <%= f.submit 'Create New Collection', :class => 'button' %>
    <%- end -%>
<%- end -%>
