  <%= form_for(@atrium_collection) do |f| %>
    <ol>
      <li>

         <%= f.label :label, 'Description:' %>
        <%= f.text_area :collection_description, :rows=> '20', :cols => '120', :class =>'jquery-ckeditor' %>
      </li>
    </ol>
    <%= f.submit 'Add Description' %>
  <% end %>
