<span id="show_description">
  <%- if @atrium_showcase && @atrium_showcase.descriptions-%>
    <%= render :partial=>'shared/list_descriptions', :locals=>{:descriptions=>@atrium_showcase.descriptions} %>
  <%- end -%>
</span>