
<ul class="collection-list">
  <%# get_exhibits_list.each do |exhibit| -%>
    <li>
      <h2><%#link_to exhibit.exhibit_title.blank? ? "Unnamed Exhibit" : exhibit.exhibit_title, exhibit_path(exhibit) %></h2>
    </li>
  <%# end -%>
</ul>
