<h1>You are configuring your browse page, Here are you options</h1>

<%= link_to 'Select Featured', atrium_browse_page_featured_path(params[:browse_page_id]), :class=>'colorbox', :test=> atrium_browse_page_path(params[:browse_page_id]) %>
