<h2><b>collection Title:</b>&nbsp;&nbsp;<%=@atrium_collection.title%></h2>
<%# selected_facets = get_selected_browse_facets(@browse_facets) -%>
<%# @browse_facets.each do |facet| -%>
  <%# if selected_facets[facet.to_sym] -%>
    <h2><%#"<b>#{facet_field_labels[facet.to_s]}:</b>  #{selected_facets[facet.to_sym]}"%></h2>
  <%# end -%>
<%# end -%>
