<h1>You are configuring your browse page, Here are your options</h1>
<%- params[:controller] == "atrium_collections" ? collection_id = params[:id] : collection_id = params[:collection_id] -%>

<ul class="contols">
  <li>
    <%- if @atrium_showcase.for_exhibit? %>
      <%= link_to 'Select Featured Items',
        atrium_showcase_featured_path(:id => @atrium_showcase.id, :collection_id => collection_id, :f => params[:f]),
        :class => 'select_colorbox',
        :action => atrium_exhibit_atrium_showcases_path(@exhibit, :showcase_id => @atrium_showcase.id)
      %>
  <%- else %>
    <%= link_to 'Select Featured Items',
      atrium_showcase_featured_path(:id => @atrium_showcase.id, :collection_id => collection_id, :f => params[:f]),
      :class => 'select_colorbox',
      :action => atrium_collection_atrium_showcases_path(@atrium_collection, :showcase_id => @atrium_showcase.id)
    %>
<%- end %>
  </li>
  <li>
    <%= link_to 'Add New Description', new_atrium_description_path(:atrium_showcase_id => @atrium_showcase.id), :class => 'description_colorbox', :action=> atrium_descriptions_path(:atrium_showcase_id=>@atrium_showcase.id) %>
  </li>
</ul>
