<strong>Browse view configuration</strong>
<%- params[:controller] == "atrium_collections" ? collection_id = params[:id] : collection_id = params[:collection_id] -%>

<ul class="controls">
  <li>
    <%- if @atrium_showcase.for_exhibit? %>
      <%= link_to 'Select Featured Items',
        atrium_showcase_featured_path(:id => @atrium_showcase.id, :collection_id => collection_id, :f => params[:f]),
        :class => 'select_colorbox button',
        :action => atrium_exhibit_atrium_showcases_path(@exhibit, :showcase_id => @atrium_showcase.id)
      %>
    <%- else %>
      <%= link_to 'Select Featured Items',
        atrium_showcase_featured_path(:id => @atrium_showcase.id, :collection_id => collection_id, :f => params[:f]),
       :class => 'select_colorbox button',
       :action => atrium_collection_atrium_showcases_path(@atrium_collection, :showcase_id => @atrium_showcase.id)
    %>
   <%- end %>
  </li>
  <li>
    <%= link_to 'Add New Description', new_atrium_description_path(:showcase_id=>@atrium_showcase.id), :class => 'description_colorbox button', :action=> atrium_descriptions_path(:showcase_id=>@atrium_showcase.id) %>
  </li>
  <li class="last">
    <%= link_to "Stop Editing", stop_atrium_customization_path(@atrium_showcase.for_exhibit? ? {:type => 'exhibit', :id => @exhibit.id, :f => params[:f]} : {:type => 'collection', :id => @atrium_collection.id, :f => params[:f]}), :class => 'button close' %>
  </li>
</ul>

