<%= render :partial => "shared/collection_title_header" %>
<%- if @atrium_collection.collection_description%>
  <%= @atrium_collection.collection_description.html_safe %>
<%- else %>
  <%= render :partial => "shared/default_collection_text"  %>
<%- end %>
<h3><%= link_to 'Browse this Collection', atrium_collection_path(params[:collection_id]) %></h3>
