<%= render :partial => "shared/exhibit_title_header" %>
<h2>About Searching this Exhibit</h2>
<p>
Search results will be narrowed to just items contained within this exhibit.  If you wish to search across multiple exhibits you can go to the <%=link_to "Main Search Page", root_path%>.

The bibliographic descriptions available on this site can be browsed via the general search box or faceted values lists, both found at left.  Entering a query in the search box seeks a match across all fields of bibliographic data. 
</p>
<p>
The faceted values have been set up with the following principles: 
</p>
<ul>
  <li>
    <strong>Publisher</strong> The currency publisher.  Usually aligns with one of the American colonies.
  </li>
  <li>
    <strong>Print Date</strong> The print date for currency emissions.
  </li>
  <li>
    <strong>Printing Location</strong> The printing city location. 
  </li>
  <li>
    <strong>Printer</strong> The person(s) that performed the printing. 
  </li>
  <li>
    <strong>Engraver</strong> The person(s) that engraved the plates for the currency printing.
  </li>
  <li>
    <strong>Signers</strong> The endorser of the currency note.
  </li>
</ul>
<p>
If you are looking for documents from Pennsylvania, for example, you could either enter ‘Pennsylvania’ into the search box or use the Publisher facet to locate all sources for which Pennsylvania is the site of document production.  These two methods would pull together slightly different results sets, as entering Pennsylvania in the search box would find records in which the term was included anywhere in the bibliographic description and the facet value only indexes those records for which Pennsylvania is the publisher.  
</p>
<p>
If you have narrowed down a results list via faceted values but would like to drop one or more of these restrictions from your results set, click the (x) symbol at the top of the page to eliminate search limiters.  You can also initiate a new search at any time via the blue button found at the top of the results set. 
</p>
