<%- if params[:exhibit_id] -%>
  <%=render :partial=>'exhibit_home_text'%>
<%- else -%>
  <%=render :partial=>'default_home_text'%>
<%- end -%>

<h2>Browse Current Exhibits</h2>
<p>Instead of searching, if you would like to browse existing exhibits they are listed below</p>
<%=render :partial=>'exhibits/index'%>
