<%= link_to 'Back to Exhibit', edit_atrium_exhibit_path(@showcase.atrium_exhibit_id) %>  |
<%= link_to 'Back to Search', catalog_index_path %> |
<%= link_to "Delete Showcase #{@showcase.id}", atrium_showcase_path(@showcase.id), :method => :delete, :confirm => "Are you really want to delete this showcase?"%>

<h1>Configure Showcase</h1>

<%= render :partial => "form" %>
