

<h1>Configure Browse Page</h1>

<%= link_to 'Select Featured', atrium_showcases_path(:collection_id=>params[:collection_id],:f=>params[:f]), :class=>'colorbox', :action=> atrium_showcase_path %>

<%= render :partial => "form" %>



