<% content_for :theme_styles do %>
  <style type="text/css">
    /* Theme-specific styles */
    body {background: #497EC9;}
  </style>
<% end %>
<% content_for :main_header do %>
  <h1>CUSTOM HEADER</h1>
<% end %>
<%= render :template => 'layouts/atrium' %>
