<% content_for :theme_styles do %>
  <style type="text/css">
    /* Theme-specific styles */
    body {background: #497EC9;}
  </style>
<% end %>
<% content_for :footer do %>
  <p>Powered by <a href="https://github.com/ndlib/atrium">Atrium</a></p>
<% end %>
<%= render :template => 'layouts/atrium' %>
