
<%# render :partial => 'atrium_browse_pages/navigation_browse_levels', :locals=>{:showcase_number=>@showcase.set_number, :browse_levels=>@showcase.browse_levels, :browse_facets=>@showcase.browse_facet_names}%>
<%# debug "Browse PAGE:#{@atrium_browse_page.inspect}" %>
<li>
<%- if current_user && params[:edit_browse_page] && params[:controller] == "atrium_exhibits"-%>
  <%- if !@atrium_browse_page -%>
    <%= link_to 'Customize Exhibit', new_atrium_exhibit_atrium_browse_pages_path(@atrium_exhibit, :facet_selection=>params[:f]), :class=>"customize"%>
  <%- else %>
    <%= link_to 'View this exhibit', atrium_exhibit_path(:id => params[:id], :f=>params[:f])%>
  <%- end %>
<%- end %>
</li>
<%- unless @showcase_navigation_data.nil? || @showcase_navigation_data.empty? -%>
    <!-- recursively render the browse sets-->
  <%- @showcase_navigation_data.each do |showcase| -%>
    <%- if @showcase && showcase.set_number == @showcase.set_number  %>
    <%# debug "#{showcase.browse_levels}, @showcase: #{@showcase.browse_levels.inspect}" %>
      <%- unless showcase.browse_levels.nil? || showcase.browse_levels.empty? -%>
        <%# showcase.set_number%>
        <%= render :partial => 'atrium_browse_pages/navigation_browse_levels', :locals=>{:showcase_number=>showcase.set_number, :browse_levels=>showcase.browse_levels, :browse_facets=>showcase.browse_facet_names}%>
      <%- end -%>
    <%- end -%>
  <%- end -%>
<%- end -%>



